## linux backup
*~

## windows cache
*Thumbs.db

## ide files
.project
.pydevproject
.settings/*

## python
*.pyc
*.pyo
*__pycache__

## goshu3
info.json
settings.json
logs/*
suggestions/*