## linux backup
*~

## windows cache
*Thumbs.db

## ide files
.project
.pydevproject
.settings/*
*.sublime-*

## python
*.pyc
*.pyo
*__pycache__

## goshu3
config/*
logs/*
suggestions/*
autoinstall/*
